<div class="form-group">
    <label>Name:</label>
    <input [(ngModel)]="cocktail_input" class="form-control">
</div>

<div class="form-group">
    <button class="btn btn-default" (click)="search()" [disabled]="!cocktail_input">Search</button>
</div>

<div class="row">
    <div *ngFor="let d of drinks" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <app-cocktailcard [item]="d"></app-cocktailcard>
    </div>
    <div *ngIf="drinks.length === 0">
        <h1>No drinks have that name!</h1>
    </div>
</div>